pyrogram==1.4.8
tgcrypto==1.2.3
yt-dlp==2022.3.8.2
APScheduler==3.9.1
beautifultable==1.0.1
ffmpeg-python==0.2.0
PyMySQL==1.0.2
celery==5.2.3
filetype==1.0.10
flower==1.0.0
psutil==5.9.0
influxdb==5.3.1
beautifulsoup4==4.10.0
fakeredis==1.7.1
supervisor==4.2.4
tgbot-ping==1.0.4
redis==4.1.4
requests==2.27.1
tqdm==4.63.0
requests-toolbelt==0.9.1
ffpb==0.4.1