pyrogram==1.4.16
tgcrypto==1.2.5
yt-dlp==2023.6.22
APScheduler==3.10.1
beautifultable==1.1.0
ffmpeg-python==0.2.0
PyMySQL==1.0.3
celery==5.3.1
filetype==1.2.0
flower==2.0.0
psutil==5.9.5
influxdb==5.3.1
beautifulsoup4==4.12.2
fakeredis==2.15.0
supervisor==4.2.5
tgbot-ping==1.0.7
redis==4.5.4
requests==2.31.0
tqdm==4.65.0
requests-toolbelt==1.0.0
ffpb==0.4.1
youtube-search-python==1.6.6
token-bucket==0.3.0
coloredlogs==15.0.1
sentry-sdk==1.26.0
