git+https://github.com/KurimuzonAkuma/pyrogram
tgcrypto==1.2.5
yt-dlp[default]==2024.12.3
APScheduler==3.10.4
beautifultable==1.1.0
ffmpeg-python==0.2.0
PyMySQL==1.1.1
celery==5.4.0
filetype==1.2.0
flower==2.0.1
psutil==6.0.0
influxdb==5.3.2
beautifulsoup4==4.12.3
fakeredis==2.24.1
supervisor==4.2.5
tgbot-ping==1.0.7
redis==5.2.1
requests==2.32.3
tqdm==4.66.5
requests-toolbelt==1.0.0
ffpb==0.4.1
youtube-search-python==1.6.6
token-bucket==0.3.0
coloredlogs==15.0.1
tronpy==0.5.0
mnemonic==0.21
qrcode==7.4.2
blinker==1.8.2
flask===3.0.3
